.Ma{

left: 472px;
width: 52px;
height: 35px;
text-align: left;
font: Medium 30px/37px Montserrat;
color: #8B8787;


}
.Tungay{
left: 1270px;
width: 136px;
height: 34px;
text-align: left;
font: Medium 30px/37px Montserrat;
color: #8B8787;

}
.TieuDe{
  top: 363px;
left: 471px;
width: 125px;
height: 34px;
text-align: left;
font: Medium 30px/37px Montserrat;
letter-spacing: 0px;
color: #8B8787;
opacity: 1;
}
.Denngay{
  top: 365px;
left: 1270px;
width: 150px;
height: 39px;
text-align: left;
font: Medium 30px/37px Montserrat;
letter-spacing: 0px;
color: #8B8787;
opacity: 1;
}
.box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 50px;
background: #9BDFDD 0% 0% no-repeat padding-box;
 
  font-size: 10pt;
  float: left;
 
  padding-left: 45px;
  border-radius: 46px;
}
.right{
  margin-left: 50%;
  
}
.left{
  margin-left: 50%;
}
h3{
text-align: left;
font: Medium 30px/37px Montserrat;
letter-spacing: 0px;
color: #828282;
}
table, th, td{
          
            border-top:1px solid #ccc;
            border-bottom:1px solid #ccc;
        }
        table{
            border-collapse:collapse;
            width:100%;
        }
        th, td{
            text-align:left;
            padding:10px;
        }