<hr>
<form>

	<label class="Ma">Mã</label><br>
	<hr style="width:30%;text-align:left;margin-left:0">
		<div class="left">
    	<label class="Tungay">Từ Ngày</label>
		<hr style="width:30%;text-align:left;margin-left:0">
	</div>


		<label class="TieuDe">Tiêu đề</label>
		<hr style="width:30%;text-align:left;margin-left:0">
	<div class="right">
		<label class="Denngay">Đến ngày</label>
		<hr style="width:30%;text-align:left;margin-left:0">
	</div>

</form>
<div class="box">
  <div class="container-1">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="Tìm kiếm" />
  </div>
</div>
<h3>Danh sách banner</h3>
 <table>
        <tr>
            <th>#</th>
            <th>Tiêu Đề </th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>+</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sinh nhật club</td>
            <td>1/5/2020</td>
            <td>10/5/2020</td>
            <td></td>
           
        </tr>
        
    </table>